.container {
    display: block;
    cursor: pointer;
    border-left: 50px;
    position: static;
    margin-left: 220px;
}

.bar1 {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 9px;
    transition: 0.4s;
    cursor: pointer;
}

.bar2 {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 9px;
    transition: 0.4s;
    cursor: pointer;
}

.bar3 {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 9px;
    transition: 0.4s;
    cursor: pointer;
}

.bar4 {
    width: 100px;
    height: 82px;
    cursor: pointer;
}

.change .bar1 {
    transform: rotate(-45deg) translate(7px, 19px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(0px);
}

me {
    display: none;
}

.topnav {
    background-color: black;
    overflow: hidden;
    width: 0px;
    height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 1;
    text-align: top;
}

.topnav a {
    float: down;
    color: #DAA520;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: Arial, sans Helvetica-serif;
    text-decoration: none;
    height: 200%;
}

.topnav a:hover {
    color: white;
    width: 1850px;
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.topnav a.active {
    color: #DAA520;
    padding: 51px;
    text-align: down;
    overflow: hidden;
    position: relative;
    height: 200%;
}

img {
    size: 50px;
    height: 150px;
    width: 229px;
    border-radius: 15px;
}

.sidenav a.closebtn {
    position: absolute;
    height: 100%;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

.p2 {
    width: 1100px;
    height: 350px;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 15px 25px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url('foam.jpg');
    display: show;
}

.card2 {
    background-image: url('repairs.png');
    background-size: 100% 100%;
    display: show;
    margin-left: 170px;
}

.card3 {
    background-image: url('redesign.jpg');
    margin-left: 190px;
    display: show;
}

.L1 {
    margin-left: 190px;
}

.L2 {
    margin-left: 170px;
}

.L3 {
    margin-left: 10 px;
}

.card:hover {
    transform: translateY(-20px);
}

.t2 {
    margin-left: 100px;
}

.icon1 {
    margin-left: 20px;
}

.icon2 {
    margin-left: 150px;
}

.icon3 {
    margin-left: 170px;
}

.icon4 {
    margin-left: 180px;
}

.icon5 {
    margin-left: 185px;
}

.icon6 {
    margin-left: 250px;
}

.contact {
    width: 54px;
    height: 40px;
    margin-right: 20px;
}

.alter {
    width: 54px;
    height: 45px;
}

.location {
    width: 54px;
    height: 45px;
}

.Making {
    width: 54px;
    height: 45px;
}

.thumbs {
    width: 54px;
    height: 45px;
}

.credit {
    width: 54px;
    height: 45px;
    letter-spacing: 5px 3px;
    word-spacing: 10px;
}

h3 {
    color: lightblue;
}

p {
    color: rgb(139, 128, 128);
    display: block;
    font-family: Harlow solid italic;
    text-indent: 20px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 7px;
    font-size: 18px 5px 10px;
    background-color: lightpink;
    border-radius: 20px 5px;
}

h1 {
    color: tomato;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5 {
    color: SlateBlue;
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: -700px;
    padding: 50px;
}

.foot {
    height: 10px;
    margin-bottom: -700px;
    padding: 50px;
    right: 100px;
    border-right: 800px;
    width: 100%;
    color: whitesmoke;
    bottom: 0;
}

hr {
    width: 500px;
    color: rebeccapurple;
    background-color: rosybrown;
}